body {
text-align: center;
font-family: Arial,serif;
font-size: 2em;
overscroll-behavior-y: contain;
}

.button-success {
background: rgb(28, 184, 65);
color: white;
}

.c-header {
display: none;
}

.gh-ribbon {
position: absolute;
top: 0;
left: 0;
border: 0;
}

.active {
display: block;
}

.inactive {
display: none;
}

.brain-wrapper {
width: 12.5vw;
height: 12.5vw;
overflow: hidden;
display: inline-block;
}

.brain-wrapper .thumbnail {
width: 200%;
margin-left: -50%;
}

.brain-wrapper .text {
display: none;
resize: none;
}

.brain-wrapper .text.active {
position: fixed;
border: 1px solid #888;
box-shadow: inset 0 0 600px 75px rgba(0, 0, 0, 1);
color: white;
background: rgba(255, 255, 255, .8) center center no-repeat;
display: block;
top: 0;
left: 0;
margin-top: 1em;
width: 100%;
height: 60%;
z-index: 100;
font-size: 5rem;
}

.container {
border-bottom: 1px solid grey;
}

.c-inner {
min-height: 10px;
}

.c-preview .c-inner {
width: 80%;
max-width: 600px;
height: 30vh;
overflow: auto;
margin: 0 auto;
}

#canvas {
width: 90%;
max-width: 600px;
cursor: zoom-in;
}

.c-controls .pure-button {
box-sizing: border-box;
}

.c-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
background: rgba(0, 0, 0, .6);
opacity: 1;
height: 100%;
overflow: auto;
transition: opacity 0.3s linear;
z-index: 10;
color: white;
}

.c-overlay.active {
height: 100%;
opacity: 1;
}

.c-overlay.inactive {
display: block;
height: 0;
opacity: 0;
}

.c-overlay #loading {
margin-top: 25%;
}

.c-overlay .c-inner {
width: 100%;
height: 100%;
background-color: white;
text-align: right;
position: fixed;
}

.c-overlay .c-inner.active .fa-times {
color: black;
opacity: .5;
}

.c-overlay .c-inner.active .fa-times:hover {
color: #0078e7;
cursor: pointer;
}

#mirror {
width: 100%;
max-width: 600px;
cursor: zoom-out;
margin: 0 auto;
}

@media screen and (min-device-width: 48em) {
.pure-u-md-2-5 {
    width: 40%;
}

.pure-u-md-3-5 {
    width: 60%;
}

.c-header {
    display: block;
    font-size: 1rem;
}

.brain-wrapper {
    height: 50px;
    width: auto;
    overflow: hidden;
}

.brain-wrapper .thumbnail {
    width: 100px;
    margin: 0;
}

.c-preview .c-inner,
.c-main .c-inner {
    min-height: 30vh;
    height: 50vh;
}

.c-overlay .c-inner {
    width: 75%;
    height: calc(50% + 2em);
    background-color: white;
    left: 0;
    right: 0;
    margin: 5% auto;
}

.brain-wrapper .text.active {
    width: 65%;
    left: 0;
    right: 0;
    margin: calc(5% + 1em) auto;
    height: 40%;
}
}

@media screen and (min-device-width: 64em) {
body {
    font-size: 1em;
}

.c-preview .c-inner,
.c-main .c-inner {
    min-height: 200px;
    height: 60vh;
}

.c-main .c-inner {
    overflow: auto;
}

.c-main .c-inner .brain-wrapper {
    display: block;
}

.brain-wrapper .text {
    position: absolute;
    margin-left: 100px;
    height: 50px;
    /* yes, I know it is bad */
    background-image: none !important;
}

.brain-wrapper .text.active {
    font-size: 3em;
}

#brains .brain-wrapper:hover .text {
    display: inline-block;
}

#brains .brain-wrapper .text:focus {
    display: inline-block;
}

.c-controls .pure-button {
    width: 64px;
}

.c-overlay #loading {
    margin-top: 10%;
}
}